


<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="signup-container">
    <h1>Create a New Account</h1>
    <form action="/auth/sign-up" method="post">
      <label>Username:<br></label>
      <input type="text" name="username"/>
      <br>
      <label>Password: <br></label>
      <input type="password" name="password">
      <br>
      <label>Confirm Password:<br></label>
      <input type="password" name="confirmPassword">
      <button type="submit">Sign up</button>
    
    </form>
  </div>
</body>