<body>
    <h1> Creat new acount</h1>

    <form action="/auth/sign-up"  method="post">
        <label>Username:</label>
        <input type="text"  name="username" />
        <br>
        <label>password: </label>
        <input type="password"  name="password" />
        <br>
        <label>Confirm Password:</label>
        <input type="password"  name="confirmPassword" />
        <br>
        <button type="submit">Sign up </button>
    </form>

</body>