

<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="signin-container">
  <h1>Sign In</h1>
  <form action="/auth/sign-in" method="post">
    <label>Username <br></label>
    <input type="text" name="username">
    <br>
    <label>Password:<br></label>
    <input type="password" name="password">
    <br>
    <br>
    <button type="submit">Sign in</button>
  </form>
</div>
</body>