

<nav>
  <% if(user) { %>
    <div class="navbar">
      <div class="nav-links">
        <a class="authlink" href="/recipes/">Recipes</a>
      <a class="authlink" href="/ingredients/">Ingredients</a>
        <a class="authlink" href="/auth/sign-out">Sign Out</a>
      </div>
    </div>
  <% } else { %>
    <div class="navbar">
      <div class="nav-links">
        <a class="authlink" href="/auth/sign-in">Sign In</a>
        <a class="authlink" href="/auth/sign-up">Sign Up</a>
      </div>
    </div>
  <% } %>
</nav>