<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page </title>
</head>
<body>

    <% if(user) {%> 
    <p>Hi <%= user.username %></p>
    <a href="/auth/sign-out">Sign out<output></output></a>
    <% } else {%>

    <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/sign-in">Sign in</a>
    <% } %>
    <h1>Welcome to CookBook!</h1>
</body>
</html>