
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Create a New Recipe!</h1>
  <div class="new-body">
  <form action="/recipes" method="post">
    <label for="name">Name:</label>
  <input type="text" name="name" id="name" /><br>

  <label for="ingredient">Ingredients</label><br>
  <% ingredients.forEach(ingredient => {%>
    <label>
    <input type="checkbox" name="ingredients" value="<%= ingredient._id %>">
      <%= ingredient.name %>
    </label><br>
  <%});
  %>


  <label for="instructions">Instructions:</label>
  <textarea name="instructions" id="instructions"></textarea><br>

  <button type="submit">Add Recipe</button>

  </form>
</div> 
</body>